.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    width: 960px;
    height: 960px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    background-color: red;
    margin: 0;
    border: 0;
}
.button{
    align-self: self-start;
}

.hover{
   background-color: white; 
}