:root {
    --base: #000000;
}
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
}
.container {
    width: 960px;
    height: 960px;
    border: solid black 2px;
    display: flex;
    flex-wrap: wrap;
}
.grid {
    background-color: white;
    margin: 0;
    border: 0;
}


.hover{
   background-color: var(--base);
}
