:root {
    --base: #000000;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 960px;
    
}
.container {
    width: 960px;
    height: 960px;
    border: solid black 3px;
    display: flex;
    flex-wrap: wrap;
}
.grid {
    background-color: none ;
    margin: 0;
    border: 0;
}
.btn {
    font-size: 20px;
}

.hover{
   background-color: var(--base);
}
